<div class="sidebar">
  <div class="sidebar-links">
    <!-- replace the number between <%- %> with the id -->
    <a href="/admin">Profile</a>
    <a href="/dashboard">dashboard</a>
    <!-- <a href="/members/<%- 324 %>/invitations">Invitations</a> -->
  </div>
</div>
