<div class="label-input">
  <label for="Majors">Major </label>

  <select id="Majors" name="Major">
    <option value="AE">AE</option>

    <option value="EE">EE</option>

    <option value="ME">ME</option>

    <option value="PHYS">PHYS</option>

    <option value="CIE">CIE</option>

    <option value="EEPH">EEPH</option>

    <option value="CHE">CHE</option>

    <option value="MSE">MSE</option>

    <option value="CHEM">CHEM</option>

    <option value="BIOE">BIOE</option>

    <option value="CE">CE</option>

    <option value="ARE">ARE</option>

    <option value="ITD">ITD</option>

    <option value="SSC">SSC</option>

    <option value="ESE">ESE</option>

    <option value="CS">CS</option>

    <option value="COE">COE</option>

    <option value="ISE">ISE</option>

    <option value="MATH">MATH</option>

    <option value="AS">AS</option>

    <option value="PETE">PETE</option>

    <option value="GEOP">GEOP</option>

    <option value="GEOL">GEOL</option>

    <option value="HRM">HRM</option>

    <option value="FIN">FIN</option>

    <option value="MKT">MKT</option>

    <option value="ACCT">ACCT</option>

    <option value="MIS">MIS</option>
  </select>
</div>
