<div class="member-card">
  <div class="member-info-wrapper">
    <!-- <h2><%= //name %></h2>
    <h2>Student Major: <%= //major %></h2> -->
    <h2>Student Name</h2>
    <h2>Student Major: SWE</h2>
  </div>

  <div class="member-card-buttons">
    <form action="">
      <button>invite</button>
    </form>
  </div>
</div>
