<div class="sidebar">
  <div class="sidebar-links">
    <!-- replace the number between <%- %> with the id -->
    <a href="#">Profile</a>
    <a href="/members/<%- 324 %>/team/<%- 324 %>">My Team</a>
    <!-- <a href="/members/<%- 324 %>/invitations">Invitations</a> -->
  </div>
</div>
