<div class="sidebar">
  <div class="sidebar-links">
    <!-- replace the number between <%- %> with the id -->
    <a href="/members/profile">Profile</a>
    <a href="/members/myTeam">My Team</a>
    <!-- <a href="/members/<%- 324 %>/invitations">Invitations</a> -->
  </div>
</div>
