<div class="sidebar">
  <div class="sidebar-links">
    <!-- replace the number between <%- %> with the id -->
    <a href="/SWE363_Project_Group17/views/profile.ejs">Profile</a>
          <a href="/my-team">My Team</a>
    <!-- <a href="/members/<%- 324 %>/invitations">Invitations</a> -->
  </div>
</div>
