<div class="request-container">
  <h1>Requests</h1>
  <div class="request-card">
    <h3>Name of the student goes here</h3>
    <form action="">
      <button class="accept-button">Accept</button>
    </form>
    <form action="">
      <button class="reject-button">Reject</button>
    </form>
  </div>
</div>
