<div class="team-card">
  <div class="team-info-wrapper">
    <h2>Team name</h2>
    <h2>Team Majors: SWE, CHE, ME</h2>
  </div>

  <div class="team-card-buttons">
    <form action="POST">
      <button>Request Join</button>
    </form>
    <a href="#">More Information</a>
  </div>
</div>
