<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Profile</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/admin-profile.css" />
  </head>
  <body>
    <%- include("./partials/navbar") %>
    <div class="main-container">
      <%- include("./partials/admin-sidebar") %>
      <div class="profile-info">
        <form action="">
          <div class="input-container">
            <div class="label-input">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
              <div class="button-container">
                <button>Delete Student</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
