<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>
  <body>
    <%- include("./partials/navbar", {currentUser: currentUser}) %>
    
    <div class="main-container">
      <div class="heading-and-subheading">
        <h1>Simplifying Student Collaboration at KFUPM</h1>
        <p>
          Elevate Your Capstone Experience: Streamline Collaboration, Foster
          Innovation, and Excel with the Perfect Team by Your Side
        </p>
        <a href="/teams">Explore Teams</a>
      </div>

      <div class="main-img">
        <img
          src="/images/team-working.png"
          alt="team working"
          class="main-img"
        />
      </div>
    </div>

    <script src="/javascripts/navbar.js"></script>
  </body>
</html>
