<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Teams</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/members.css" />
  </head>
  <body>
    <%- include("./partials/navbar") %>

    <div class="main-wrapper">
      <div class="search-wrapper">
        <input
          type="search"
          name="search"
          id="search"
          placeholder="Search..."
        />
        <svg
          class="search-icon"
          width="26"
          height="25"
          viewBox="0 0 26 25"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M18.5793 15.6442H17.4465L17.045 15.2842C18.4988 13.7162 19.2979 11.7145 19.2963 9.64421C19.2963 7.9301 18.7496 6.25449 17.7255 4.82927C16.7013 3.40404 15.2456 2.29321 13.5424 1.63725C11.8393 0.981294 9.9652 0.809665 8.15715 1.14407C6.3491 1.47848 4.6883 2.3039 3.38477 3.51595C2.08124 4.72801 1.19353 6.27226 0.833885 7.95343C0.474242 9.63459 0.658824 11.3772 1.36429 12.9608C2.06976 14.5444 3.26442 15.898 4.79721 16.8503C6.33 17.8026 8.13207 18.3109 9.97554 18.3109C12.2842 18.3109 14.4065 17.5242 16.0412 16.2175L16.4284 16.5909V17.6442L23.5982 24.2975L25.7348 22.3109L18.5793 15.6442ZM9.97554 15.6442C6.40498 15.6442 3.52271 12.9642 3.52271 9.64421C3.52271 6.32421 6.40498 3.64421 9.97554 3.64421C13.5461 3.64421 16.4284 6.32421 16.4284 9.64421C16.4284 12.9642 13.5461 15.6442 9.97554 15.6442Z"
            fill="black"
          />
        </svg>
      </div>

      <div class="buttons-wrapper">
        <h1>Available Teams</h1>

        <div class="buttons-wrapper-links">
          <svg
            width="33"
            height="33"
            viewBox="0 0 33 33"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M30.1396 11.1986H3.13965C2.74182 11.1986 2.36029 11.0406 2.07899 10.7593C1.79768 10.478 1.63965 10.0964 1.63965 9.69861C1.63965 9.30078 1.79768 8.91925 2.07899 8.63795C2.36029 8.35664 2.74182 8.19861 3.13965 8.19861H30.1396C30.5375 8.19861 30.919 8.35664 31.2003 8.63795C31.4816 8.91925 31.6396 9.30078 31.6396 9.69861C31.6396 10.0964 31.4816 10.478 31.2003 10.7593C30.919 11.0406 30.5375 11.1986 30.1396 11.1986ZM25.1396 18.1986H8.13965C7.74182 18.1986 7.36029 18.0406 7.07899 17.7593C6.79768 17.478 6.63965 17.0964 6.63965 16.6986C6.63965 16.3008 6.79768 15.9193 7.07899 15.6379C7.36029 15.3566 7.74182 15.1986 8.13965 15.1986H25.1396C25.5375 15.1986 25.919 15.3566 26.2003 15.6379C26.4816 15.9193 26.6396 16.3008 26.6396 16.6986C26.6396 17.0964 26.4816 17.478 26.2003 17.7593C25.919 18.0406 25.5375 18.1986 25.1396 18.1986ZM19.1396 25.1986H14.1396C13.7418 25.1986 13.3603 25.0406 13.079 24.7593C12.7977 24.478 12.6396 24.0964 12.6396 23.6986C12.6396 23.3008 12.7977 22.9193 13.079 22.6379C13.3603 22.3566 13.7418 22.1986 14.1396 22.1986H19.1396C19.5375 22.1986 19.919 22.3566 20.2003 22.6379C20.4816 22.9193 20.6396 23.3008 20.6396 23.6986C20.6396 24.0964 20.4816 24.478 20.2003 24.7593C19.919 25.0406 19.5375 25.1986 19.1396 25.1986Z"
              fill="white"
            />
          </svg>

          <a href="#">Creat Team</a>
        </div>
      </div>

      <%- include("./partials/member-card") %>
    </div>
  </body>
</html>
