<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="../public//stylesheets/login.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="logo-container">
        <img src="../public//images/logo.png" alt="logo" class="logo" />
      </div>
    </nav>
    <div class="main-container">
      <div class="fields-and-links">
        <h1>Login</h1>
        <form action="">
          <div class="fields">
            <div class="label-input">
              <label for="full-name">Full Name</label>
              <input type="text" name="full-name" id="full-name" />
            </div>

            <div class="label-input">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </div>

            <div class="label-input">
              <label for="password">password</label>
              <input type="password" name="password" id="password" />
            </div>

            <div class="label-input">
              <label for="confirm-password">Confirm Password</label>
              <input
                type="password"
                name="confirm-password"
                id="confirm-password"
              />
            </div>
          </div>
          <a href="#" class="sign-in-button">Sign up</a>
        </form>

        <div class="links">
          <p>Already have an account? <a href="#">Sign in</a></p>
        </div>
      </div>

      <div class="main-img">
        <img
          src="../public/images/team-working.png"
          alt="team working"
          class="main-img"
        />
      </div>
    </div>
  </body>
</html>
