<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
    <link rel="stylesheet" href="/stylesheets/login.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  </head>
  <body>
    <%- include("./partials/navbar") %>
    <div class="main-container">
      <div class="fields-and-links">
       
        <h1>Sign up</h1>
        
         <!-- if err -->
        <% if(typeof alert != 'undefined'){%>

          <% alert.forEach(function (error){%>

            <!-- <div class="alert alert-warning alert-dismissible fade show" role="alert"> -->

              <div class="alert alert-danger" role="alert">

              <%=error.msg%>

              <button type="button" class="close" data-dismiss="alert" aria-label="Close">

                <span aria-hidden="true">&times;</span>
              </button>

            </div>


          <%}) %>

        <% } %>


        <form action="/" method="post">
          <div class="fields">
            <div class="label-input">
              <label for="name">Full Name</label>
              <input type="text" name="name" id="name" />
            </div>

            <div class="label-input">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </div>

            <div class="label-input">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" />
            </div>

            <div class="label-input">
              <label for="confirm-password">Confirm Password</label>
              <input
                type="password"
                name="confirm-password"
                id="confirm-password"
              />
            </div>

            <div class="label-input">
              <%- include("./partials/majors-list") %>
            </div>
          </div>

          <button class="" type="submit">Sign up</button>

          <!-- <a href="#" class="sign-in-button">Sign up</a> -->
        </form>

        <div class="links">
          <p>Already have an account? <a href="./sign-in">Sign in</a></p>
        </div>
      </div>

      <div class="main-img">
        <img
          src="/images/team-working.png"
          alt="team working"
          class="main-img"
        />
      </div>
    </div>
  </body>
</html>
