body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16;
}

:root {
  --ont-family: Arial;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

.nav-links {
  display: flex;
}

li {
  list-style: none;
}

.nav-links a {
  color: black;
  font-size: 2em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  margin-left: 2em;
}

.nav-buttons {
  display: flex;
  gap: 1.5em;
}

.nav-buttons .sign-in-button {
  max-width: 120px;
  padding: 15px 40px;
  border-radius: 10px;
  background: #003354;
  color: white;
  text-align: center;
  text-decoration: none;
}

.nav-buttons .sign-up-button {
  max-width: 120px;
  padding: 15px 40px;
  border-radius: 10px;
  border: 2px solid #003354;
  color: #003354;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
}

.logo {
  width: 138.5px;
  height: 55.829px;
  flex-shrink: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-img {
  height: 100%;
  max-width: 100%;
}

.main-img img {
  height: 100vh;
  object-fit: cover;
}

.main-container h1 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.heading-and-subheading {
  padding: 1.5em 3em;
  min-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin-bottom: 15em;
}

.heading-and-subheading p {
  font-size: 24px;
  font-style: normal;
  line-height: normal;
  max-width: 500px;
}

.heading-and-subheading a {
  margin-top: 3em;
  max-width: 120px;
  padding: 15px 20px;
  border-radius: 10px;
  background: #003354;
  color: white;
  text-align: center;
  text-decoration: none;
}

header {
  display: flex;
  background: #d8e8f5;
  padding: 0.5em 1.5em;
  justify-content: space-between;
}

header svg {
  width: 3em;
  align-self: center;
  display: flex;
}

@media screen and (max-width: 700px) {
  .main-container {
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: start;
  }

  .logo {
    width: 100px;
    object-fit: contain;
  }

  .main-img {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    margin: 0;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 2em;
    padding-left: 0;
  }

  .nav-links a {
    margin-bottom: 5em;
  }

  .nav-buttons {
    flex-direction: column;
    margin-bottom: 5em;
  }
  .navbar {
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 9999;
    padding: 2em 2em;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background-color: #a4bccf;
  }

  .open-nav {
    transform: translateX(0%);
  }

  .close {
    position: fixed;
    right: 1em;
  }

  .heading-and-subheading {
    max-width: 100vh;
  }

  .heading-and-subheading h1 {
    font-size: 1.5em;
  }

  .heading-and-subheading p {
    font-size: 1.2em;
  }

  .heading-and-subheading a {
    min-width: 80%;
    font-size: 1.2em;
  }
}

@media screen and (min-width: 700px) {
  .menu {
    display: none;
  }
  .close {
    display: none;
  }

  .nav-links {
    gap: 1em;
  }

  .navbar {
    gap: 1em;
    justify-content: space-between;
  }

  .nav-buttons .sign-up-button {
    max-width: 80px;
    padding: 1em 0.8em;
    border-radius: 10px;
    border: 2px solid #003354;
    color: #003354;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
  }

  .nav-buttons .sign-in-button {
    max-width: 80px;
    padding: 1em 1em;
    border-radius: 10px;
    background: #003354;
    color: white;
    text-align: center;
    text-decoration: none;
  }
}
