body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16;
}

:root {
  --ont-family: Arial;
}
/* 
.navbar {
  background: #d8e8f5;
  padding: 1.5em 3em;
}

.logo {
  width: 138.5px;
  height: 55.829px;
  flex-shrink: 0;
} */

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container h1 {
  font-family: Arial;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.label-input {
  display: flex;
  flex-direction: column;
}

.label-input label {
  font-size: 24px;
  font-family: Arial;
  font-weight: 400;
  word-wrap: break-word;
}

.label-input input {
  margin-top: 15px;
  width: 510.667px;
  height: 40.111px;
  flex-shrink: 0;
  border-radius: 5px;
  outline: none;
  background-color: #e9e9e9;
  border-color: transparent;
  max-width: 25em;
}

.fields-and-links {
  padding: 1.5em 1em;
  margin-top: 2.5em;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  min-width: 40%;
}

form {
  display: flex;
  flex-direction: column;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.links {
  display: flex;
  flex-direction: column;
}

.sign-in-button {
  margin-top: 3em;
  max-width: 120px;
  padding: 15px 20px;
  border-radius: 10px;
  background: #003354;
  color: white;
  text-align: center;
  text-decoration: none;
}

.forgot-password {
  margin-top: 2em;
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
}

.links p a {
  font-size: 1em;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #f26101;
}

.main-img img {
  height: 100vh;
}

select {
  margin-top: 15px;
  width: 510.667px;
  height: 40.111px;
  flex-shrink: 0;
  border-radius: 5px;
  outline: none;
  background-color: #e9e9e9;
  border-color: transparent;
}

button {
  margin-top: 3em;
  max-width: 120px;
  padding: 15px 20px;
  border-radius: 10px;
  background: #003354;
  color: white;
  text-align: center;
  outline: none;
  border: none;
}

.logo {
  padding: 1.5em 1em;
  width: 138.5px;
  height: 55.829px;
  flex-shrink: 0;
}

.navbar {
  display: none;
}

.nav-buttons {
  display: none;
}

@media screen and (min-width: 700px) {
  .menu {
    display: none;
  }
  .close {
    display: none;
  }

  .nav-links {
    gap: 1em;
  }

  .navbar {
    gap: 1em;
    justify-content: space-between;
  }

  .nav-buttons .sign-up-button {
    max-width: 80px;
    padding: 1em 0.8em;
    border-radius: 10px;
    border: 2px solid #003354;
    color: #003354;
    font-weight: normal;
    text-align: center;
    text-decoration: none;
  }

  .nav-buttons .sign-in-button {
    max-width: 80px;
    padding: 1em 1em;
    border-radius: 10px;
    background: #003354;
    color: white;
    text-align: center;
    text-decoration: none;
  }
}

@media screen and (max-width: 700px) {
  .main-container {
    flex-direction: column;
    flex-flow: column-reverse;
    justify-content: start;
  }

  .logo {
    width: 100px;
    object-fit: contain;
  }

  .main-img {
    width: 100%;
    max-height: 270px;
    object-fit: cover;
    margin: 0;
  }

  .nav-links {
    flex-direction: column;
    margin-top: 2em;
    padding-left: 0;
  }

  .nav-links a {
    margin-bottom: 5em;
  }

  .nav-buttons {
    flex-direction: column;
    margin-bottom: 5em;
  }
  .navbar {
    position: fixed;
    flex-direction: column;
    right: 0;
    top: 0;
    height: 100vh;
    width: 50%;
    z-index: 9999;
    padding: 2em 2em;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    background-color: #a4bccf;
  }

  .open-nav {
    transform: translateX(0%);
  }

  .close {
    position: fixed;
    right: 1em;
  }

  .heading-and-subheading {
    max-width: 100vh;
  }

  .heading-and-subheading h1 {
    font-size: 1.5em;
  }

  .heading-and-subheading p {
    font-size: 1.2em;
  }

  .heading-and-subheading a {
    min-width: 80%;
    font-size: 1.2em;
  }

  .menu {
    display: none;
  }

  .label-input label {
    font-size: 1.5em;
  }
  .label-input input {
    max-width: 15em;
  }

  select {
    max-width: 20em;
  }
}
